@page
@{
    ViewBag.Title = "Доставка";
    var count = 0;
}

         <section class="delivery start block">
            <div class="delivery__container container">
               <h2 class="delivery__title title">Доставка</h2>
               <div class="delivery__text">
                  <p>Также на нашем сайте присутствует доставка готовой еды.</p>
                  <p>У нас есть наборы еды на целый день.</p>
               </div>
               <h2 class="delivery__title title">Наши вкуснейшие EcoНаборы</h2>
               <div class="delivery__content content-delivery">
            @if (ViewBag.Dishes != null)
            {
            @foreach(var dish in ViewBag.Dishes)
            {
                    @if (dish.Name.Contains("Набор"))
                    {
                  <div class="content-delivery__item item-delivery">
                     <div class="item-delivery__image">
                        <img src="@dish.Link" alt="bag">
                     </div>
                     <h3 class="item-delivery__title height-function">@dish.Name</h3>
                     <div class="about-content-item__kcal">@dish.Structure.Calorific ккал/100 г</div>
                     <div class="about-content-item__menu">
                        <picture><source srcset="/img/icons/menu.webp" type="image/webp"><img src="/img/icons/menu.png" alt="menu"></picture>
                        <div class="about-content-item__list">Содержит: @dish.Structure.Ingredients</div>
                     </div>
                     <div class="item-delivery__price">@dish.Price ₽</div>
                     @if (dish.count == 0 || dish.count == null)
                                {
                        <div class="animation-block button">
                                <a href="@Url.Action("Add", "Dish", new { id = dish.Dish_ID, price = dish.Price })" class="control-item__button buy button-default">
                                <img class="scooter" src="/img/icons/scooter.png" alt="scooter">
                                <span class="text">Заказать</span>
                                <span class="icon-spoon"></span>
                                    </a>
                            </div>
                                } else
                                {
                        <div class="animation-block control" style="margin: 0 auto; padding: 20px 0;">
                                <div class="button-default no block-count">
                                 <div class="control-item-slider control-count">
                                    <input value="−" type="button" class="control-item-slider__button sub" onclick="location.href='@Url.Action("AntiAdd", "Dish", new { id = dish.Dish_ID, price = dish.Price })'" />
                                    <span class="control-item-slider__count count">@dish.count</span>
                                    <input value="+" type="button" class="control-item-slider__button inc" onclick="location.href='@Url.Action("Add", "Dish", new { id = dish.Dish_ID, price = dish.Price })'" />
                                </div>
                            </div>
                            </div>
                                }
                        </div>
                    } else
                    {
                        count++;
                    }
                }
            } else
            {
                  <div class="content-delivery__item item-delivery">
                     <h3 class="item-delivery__title height-function">Пусто</h3>
                  </div>
            }
            @if (count == ViewBag.Dishes.Count)
            {
                <div class="content-delivery__empty">Пусто</div>
            }
        </div>
            </div>
         </section>