@page
@model EcoHouse.Controllers.UsersController
@{
    ViewBag.Title = "Личный кабинет";
    var point = "•";
}

<section class="personal start block">
            <div class="personal__container container">
               <div class="personal__content content-personal">
                  <div class="content-personal__about about-personal">
                     <div class="about-personal__image">
                    @if (ViewBag.User.Path == null)
                    {
                        <img src="/img/user/user-no.png" alt="user">
                    } else
                    {
                        <img src="@ViewBag.User.Path" alt="user">
                    }
                </div>
                     <div class="about-personal__update">
                        <a href="#popup-form-image" class="popup-link icon-update">Обновить фотографию</a>
                     </div>
                     <div class="about-personal__name">@ViewBag.User.Name @ViewBag.User.LastName <span>Логин: @ViewBag.User.Login</span></div>
                  </div>
                  <div class="content-personal__info info-personal">
                     <div class="info-personal__name">Ваша почта</div>
                     <div class="info-personal__content place-email">@ViewBag.User.Email</div>
                     <div class="info-personal__button"><a class="popup-link" href="#popup-form-email">Изменить</a>
                     </div>
                     <div class="info-personal__name">Ваш телефон</div>
                     <div class="info-personal__content place-number">@ViewBag.User.Phone</div>
                     <div class="info-personal__button"><a class="popup-link" href="#popup-form-phone">Изменить</a>
                     </div>
                     <div class="info-personal__name">Ваш пароль</div>
                     <div class="info-personal__content place-pass">
                         @for (var i = 0; i < ViewBag.User.Password.Length; i++)
                         {
                             @point
                         }
                     </div>
                     <div class="info-personal__button"><a class="popup-link" href="#popup-form-pass">Изменить</a></div>
                  </div>
                  <h3 class="peculiarities-personal__title">Мой адрес</h3>
            @if (ViewBag.Address != null)
            {
                @foreach (var address in ViewBag.Address)
                {
                    @if (address.Address_ID == ViewBag.User.AddressID)
                    {
                        <div class="content-personal__info info-personal address">
                     <div class="info-personal__content">г. @address.Area, ул. @address.Street, дом @address.Number_Of_House, кв. @address.Number_Of_Apartment</div>
                     <div class="info-personal__button"><a class="popup-link remove-popup"
                           href="#popup-form-change">Изменить</a></div>
                </div>
                    }
                }
            } else
            {
                  <a href="#popup-form-add" class="info-personal__add icon-more popup-link">Добавить адрес</a>
            }
               </div>
               <div class="personal__exit">
                  <a asp-area="" asp-controller="Users" asp-action="Logout" class="exit icon-exit"><span>Выйти</span></a>
               </div>
            </div>
            <div id="popup-form-image" class="popup">
               <div class="popup__body">
                  <div class="popup__content content-popup">
                     <a href="#" class="popup__close close-popup icon-close"></a>
                     <h2 class="content-form-popup__title">Изменение фотографии</h2>
                     <div class="content-popup__form">
                         <form asp-action="AddFile" asp-controller="Users" method="post" enctype="multipart/form-data" class="download"> 
                             <div class="input__wrapper">
                             <input type="file" name="newPhoto" id="input__file" class="input input__file" accept="image/*" />
                              <label for="input__file" class="input__file-button">
                                 <span class="input__file-button-text">Загрузить</span>
                              </label>
                           </div>
                           <input class="input" type="submit" value="Сохранить" name="submit">
                         </form>
                     </div>
                  </div>
               </div>
            </div>
            <div id="popup-form-email" class="popup">
               <div class="popup__body">
                  <div class="popup__content content-popup">
                     <a href="#" class="popup__close close-popup icon-close"></a>
                     <h2 class="content-form-popup__title">Новая почта</h2>
                     <div class="content-popup__form">
                    @using (Html.BeginForm("ReEmail", "Users", FormMethod.Post))
                        {
                            <textarea name = "newEmail" placeholder="Почта"></textarea>
                            <button class="input" type="submit" value="Сохранить" name="submit">Сохранить</button>
                        }
                     </div>
                  </div>
               </div>
            </div>
            <div id="popup-form-phone" class="popup">
               <div class="popup__body">
                  <div class="popup__content content-popup">
                     <a href="#" class="popup__close close-popup icon-close"></a>
                     <h2 class="content-form-popup__title">Новый телефон</h2>
                     <div class="content-popup__form">
                    @using (Html.BeginForm("RePhone", "Users", FormMethod.Post))
                        {
                            <textarea name = "newPhone" placeholder="Телефон"></textarea>
                            <button class="input" type="submit" value="Сохранить" name="submit">Сохранить</button>
                        }
                     </div>
                  </div>
               </div>
            </div>
            <div id="popup-form-pass" class="popup">
               <div class="popup__body">
                  <div class="popup__content content-popup">
                     <a href="#" class="popup__close close-popup icon-close"></a>
                     <h2 class="content-form-popup__title">Новый пароль</h2>
                     <div class="content-popup__form">
                    @using (Html.BeginForm("RePassword", "Users", FormMethod.Post))
                        {
                            <textarea name = "oldPassword" placeholder="Старый пароль"></textarea>
                            <textarea name = "newPassword" placeholder="Новый пароль"></textarea>
                            <button class="input" type="submit" value="Сохранить" name="submit">Сохранить</button>
                        }
                     </div>
                  </div>
               </div>
            </div>
            <div id="popup-form-add" class="popup">
               <div class="popup__body">
                  <div class="popup__content content-popup">
                     <a href="#" class="popup__close close-popup icon-close"></a>
                     <h2 class="content-form-popup__title">Добавление адреса</h2>
                     <div class="content-popup__form">
                    @using (Html.BeginForm("AddAddress", "Users", FormMethod.Post)) {
                           <div class="city__block form-block">
                              <h6 class="form-block__title">Город</h6>
                              <input class="city place-form form-address" type="text" name="area" placeholder="Город">
                           </div>
                           <div class="address__block form-block">
                              <h6 class="form-block__title">Улица</h6>
                              <input class="address place-form form-address" type="text" name="street"
                                 placeholder="Улица">
                           </div>
                           <div class="home__block form-block">
                              <h6 class="form-block__title">Дом</h6>
                              <input class="home place-form form-address" type="text" name="number_of_house" placeholder="Дом">
                           </div>
                           <div class="flat__block form-block">
                              <h6 class="form-block__title">Квартира/Офис</h6>
                              <input class="flat place-form form-address" type="text" name="number_of_apartment"
                                 placeholder="Квартира/Офис">
                           </div>
                           <input class="input" type="submit" value="Сохранить" name="submit">
                        }
                     </div>
                  </div>
               </div>
            </div>
            <div id="popup-form-change" class="popup">
               <div class="popup__body">
                  <div class="popup__content content-popup">
                     <a href="#" class="popup__close close-popup icon-close"></a>
                     <h2 class="content-form-popup__title">Изменение адреса</h2>
                     <div class="content-popup__form">
                    @using (Html.BeginForm("ReAddress", "Users", FormMethod.Post)) {
                           <div class="city__block form-block">
                              <h6 class="form-block__title">Город</h6>
                              <input class="city place-form form-address" type="text" name="area" placeholder="Город">
                           </div>
                           <div class="address__block form-block">
                              <h6 class="form-block__title">Улица</h6>
                              <input class="address place-form form-address" type="text" name="street"
                                 placeholder="Улица">
                           </div>
                           <div class="home__block form-block">
                              <h6 class="form-block__title">Дом</h6>
                              <input class="home place-form form-address" type="text" name="number_of_house" placeholder="Дом">
                           </div>
                           <div class="flat__block form-block">
                              <h6 class="form-block__title">Квартира/Офис</h6>
                              <input class="flat place-form form-address" type="text" name="number_of_apartment"
                                 placeholder="Квартира/Офис">
                           </div>
                           <input class="input" type="submit" value="Сохранить" name="submit">
                        }
                     </div>
                  </div>
               </div>
            </div>
         </section>
