@page
@model IList<EcoHouse.Storage.Entities.User>
@{
    ViewBag.Title = "Личный кабинет";
}

<section class="personal start block">
            <div class="personal__container container">
               <div class="personal__content content-personal">
                  <div class="content-personal__about about-personal">
                     <div class="about-personal__image">
                        <img src="/img/user/user1.jpg" alt="user">
                     </div>
                     <div class="about-personal__update">
                        <a href="#popup-form-image" class="popup-link icon-update">Обновить фотографию</a>
                     </div>
                     <div class="about-personal__name">@ViewBag.User.Name @ViewBag.User.LastName</div>
                  </div>
                  <div class="content-personal__info info-personal">
                     <div class="info-personal__name">Ваша почта</div>
                     <div class="info-personal__content place-email">@ViewBag.User.Email</div>
                     <div class="info-personal__button"><a class="popup-link" href="#popup-form-email">Изменить</a>
                     </div>
                     <div class="info-personal__name">Ваш телефон</div>
                     <div class="info-personal__content place-number">@ViewBag.User.Phone</div>
                     <div class="info-personal__button"><a class="popup-link" href="#popup-form-phone">Изменить</a>
                     </div>
                     <div class="info-personal__name">Ваш пароль</div>
                     <div class="info-personal__content place-pass">@ViewBag.User.Password</div>
                     <div class="info-personal__button"><a class="popup-link" href="#popup-form-pass">Изменить</a></div>
                  </div>
                  <h3 class="peculiarities-personal__title">Мои адреса</h3>
            @if (ViewBag.User.Main_Address != null)
            {
            <div class="content-personal__info info-personal address">
                     <div class="info-personal__content">г. @ViewBag.User.Main_Address.Area, ул. @ViewBag.User.Main_Address.Street, дом @ViewBag.User.Main_Address.Number_Of_House, кв. @ViewBag.User.Main_Address.Number_Of_Apartment</div>
                     <div class="info-personal__button"><a class="popup-link remove-popup"
                           href="#popup-form-change">Изменить</a><button
                           class="control-item__remove remove-button">Удалить</button></div>
                </div>
            } else
            {
            <div class="content-personal__info info-personal address">
                     <div class="info-personal__content">Пусто</div>
                </div>
                  <a href="#popup-form-add" class="info-personal__add icon-more popup-link">Добавить адрес</a>
            }
               </div>
               <div class="personal__exit">
                  <a asp-area="" asp-controller="Users" asp-action="Logout" class="exit icon-exit"><span>Выйти</span></a>
               </div>
            </div>
            <div id="popup-form-image" class="popup">
               <div class="popup__body">
                  <div class="popup__content content-popup">
                     <a href="#" class="popup__close close-popup icon-close"></a>
                     <h2 class="content-form-popup__title">Изменение фотографии</h2>
                     <div class="content-popup__form">
                        <form class="form personal download">
                           <div class="personal__image"></div>
                           <div class="input__wrapper">
                              <input name="file" type="file" name="file" id="input__file" class="input input__file"
                                 accept="image/*">
                              <label for="input__file" class="input__file-button">
                                 <span class="input__file-button-text">Загрузить</span>
                              </label>
                           </div>
                           <input class="input" type="submit" value="Сохранить" name="submit">
                        </form>
                     </div>
                  </div>
               </div>
            </div>
            <div id="popup-form-email" class="popup">
               <div class="popup__body">
                  <div class="popup__content content-popup">
                     <a href="#" class="popup__close close-popup icon-close"></a>
                     <h2 class="content-form-popup__title">Новая почта</h2>
                     <div class="content-popup__form">
                    @using (Html.BeginForm("ReEmail", "Users", FormMethod.Post))
                        {
                            <textarea name = "newEmail" placeholder="Почта"></textarea>
                            <button class="input" type="submit" value="Сохранить" name="submit">Сохранить</button>
                        }
                     </div>
                  </div>
               </div>
            </div>
            <div id="popup-form-phone" class="popup">
               <div class="popup__body">
                  <div class="popup__content content-popup">
                     <a href="#" class="popup__close close-popup icon-close"></a>
                     <h2 class="content-form-popup__title">Новый телефон</h2>
                     <div class="content-popup__form">
                    @using (Html.BeginForm("RePhone", "Users", FormMethod.Post))
                        {
                            <textarea name = "newPhone" placeholder="Телефон"></textarea>
                            <button class="input" type="submit" value="Сохранить" name="submit">Сохранить</button>
                        }
                     </div>
                  </div>
               </div>
            </div>
            <div id="popup-form-pass" class="popup">
               <div class="popup__body">
                  <div class="popup__content content-popup">
                     <a href="#" class="popup__close close-popup icon-close"></a>
                     <h2 class="content-form-popup__title">Старый пароль</h2>
                     <div class="content-popup__form">
                    @using (Html.BeginForm("RePassword", "Users", FormMethod.Post))
                        {
                            <textarea name = "oldPassword" placeholder="Старый пароль"></textarea>
                            <textarea name = "newPassword" placeholder="Новый пароль"></textarea>
                            <button class="input" type="submit" value="Сохранить" name="submit">Сохранить</button>
                        }
                     </div>
                  </div>
               </div>
            </div>
            <div id="popup-form-add" class="popup">
               <div class="popup__body">
                  <div class="popup__content content-popup">
                     <a href="#" class="popup__close close-popup icon-close"></a>
                     <h2 class="content-form-popup__title">Добавление адреса</h2>
                     <div class="content-popup__form">
                        <form class="form personal address add">
                           <div class="city__block form-block">
                              <h6 class="form-block__title">Город</h6>
                              <input class="city place-form form-address" type="text" name="city" placeholder="Город">
                           </div>
                           <div class="address__block form-block">
                              <h6 class="form-block__title">Улица</h6>
                              <input class="address place-form form-address" type="text" name="address"
                                 placeholder="Улица">
                           </div>
                           <div class="home__block form-block">
                              <h6 class="form-block__title">Дом</h6>
                              <input class="home place-form form-address" type="text" name="home" placeholder="Дом">
                           </div>
                           <div class="flat__block form-block">
                              <h6 class="form-block__title">Квартира/Офис</h6>
                              <input class="flat place-form form-address" type="text" name="flat"
                                 placeholder="Квартира/Офис">
                           </div>
                           <input class="input" type="submit" value="Сохранить" name="submit">
                        </form>
                     </div>
                  </div>
               </div>
            </div>
            <div id="popup-form-change" class="popup">
               <div class="popup__body">
                  <div class="popup__content content-popup">
                     <a href="#" class="popup__close close-popup icon-close"></a>
                     <h2 class="content-form-popup__title">Изменение адреса</h2>
                     <div class="content-popup__form">
                        <form class="form personal address change">
                           <div class="city__block form-block">
                              <h6 class="form-block__title">Город</h6>
                              <input class="city place-form form-address" type="text" name="city" placeholder="Город">
                           </div>
                           <div class="address__block form-block">
                              <h6 class="form-block__title">Улица</h6>
                              <input class="address place-form form-address" type="text" name="address"
                                 placeholder="Улица">
                           </div>
                           <div class="home__block form-block">
                              <h6 class="form-block__title">Дом</h6>
                              <input class="home place-form form-address" type="text" name="home" placeholder="Дом">
                           </div>
                           <div class="flat__block form-block">
                              <h6 class="form-block__title">Квартира/Офис</h6>
                              <input class="flat place-form form-address" type="text" name="flat"
                                 placeholder="Квартира/Офис">
                           </div>
                           <input class="input" type="submit" value="Сохранить" name="submit">
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </section>
