@page
@model IList<EcoHouse.Storage.Entities.Order>
@{
    ViewBag.Title = "Корзина";
}

<section class="basket start block">
    <div class="basket__container container">
        <h2 class="basket__title title">Корзина</h2>
        <div class="basket__content content-basket">
            <div class="content-basket__table table-basket">
                <div class="table-basket__head head-table">
                    <div class="head-table__product">Товар</div>
                    <div class="head-table__count">Количество</div>
                    <div class="head-table__price">Цена</div>
                    <div class="head-table__info">Информация</div>
                </div>
                @if (ViewBag.Orders != null)
                {
                    @foreach (var dish in ViewBag.Dishes)
                    {
                        @if (dish.count != 0 && dish.count != null)
                        {
                        <div class="table-basket__item item-table">
                        <div class="item-table__image">
                            <img src="@dish.Link" alt="food">
                        </div>
                        @if (dish.Name.Contains("Набор")) {
                            <div class="item-table__name">@dish.Name</div>
                        } else {
                        <a href="@Url.Action("SaveDish", "Dish", new { dish = dish.Dish_ID })" class="item-table__name">@dish.Name</a>
                        }
                        <div class="item-table__count count-item control-count">
                           <input value="−" type="button" class="count-item__button sub" onclick="location.href='@Url.Action("AntiAdd", "Dish", new { id = dish.Dish_ID, price = dish.Price })'" />
                           <div class="count-item__value count">@dish.count</div>
                           <input value="+" type="button" class="count-item__button inc" onclick="location.href='@Url.Action("Add", "Dish", new { id = dish.Dish_ID, price = dish.Price })'" />
                        </div>
                        <div class="item-table__price">@dish.Price ₽</div>
                     </div>
                        }
                    }
                } else
                {
                    <div class="table-basket__item item-table">
                        <div class="item-table__name">Корзина пуста</div>
                     </div>
                }
                @if (ViewBag.Orders[0].Count == 0)
                {
                    <div class="table-basket__item item-table">
                        <div class="item-table__name">Корзина пуста</div>
                     </div>
                }
            </div>
                  <div class="content-basket__registration registration-basket">
                     <div class="registration-basket__head">Оформление</div>
                     <div class="registration-basket__content registration-content-basket">
                        <div class="all-registration-content__sale all-registration-content">
                           <div class="all-registration-content__name">Стоимость</div>
                           <div class="all-registration-content__count all-price">@ViewBag.Orders[0].Price ₽</div>
                        </div>
                        @if (ViewBag.Orders[0].Price != 0) {
                        <a asp-area="" asp-controller="Home" asp-action="Order" class="content-enter__sign">Оформить</a>
                        }
                     </div>
                  </div>
               </div>
            </div>
         </section>